
Program/GroupThreePaint/.vs/GroupThreePaint/DesignTimeBuild/.dtbcache.v2
Program/GroupThreePaint/.vs/GroupThreePaint/DesignTimeBuild/.dtbcache.v2
Program/GroupThreePaint/.vs/GroupThreePaint/FileContentIndex/224ce30c-29e5-46b7-93cc-956f2dbe2285.vsidx
Program/GroupThreePaint/.vs/GroupThreePaint/FileContentIndex/merges/92a7ea9c-1fcf-4307-a84a-96557dc44947.vsidx
Program/GroupThreePaint/.vs/GroupThreePaint/DesignTimeBuild/.dtbcache.v2
Program/GroupThreePaint/.vs/GroupThreePaint/FileContentIndex/991b81e0-8f45-4ebe-afb0-a17e2c4e2382.vsidx
