
.vs/VSWorkspaceState.json
Program/GroupThreePaint/.vs/GroupThreePaint/DesignTimeBuild/.dtbcache.v2
Program/GroupThreePaint/.vs/GroupThreePaint/FileContentIndex/06201b04-379f-41ed-8447-f11a83503779.vsidx
Program/GroupThreePaint/.vs/GroupThreePaint/v17/.suo
Program/GroupThreePaint/.vs/ProjectEvaluation/groupthreepaint.metadata.v7.bin
Program/GroupThreePaint/.vs/ProjectEvaluation/groupthreepaint.projects.v7.bin
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.AssemblyInfo.cs
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.AssemblyInfoInputs.cache
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.assets.cache
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.GeneratedMSBuildEditorConfig.editorconfig
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/TempPE/Properties.Resources.Designer.cs.dll
Program/GroupThreePaint/.vs/GroupThreePaint/DesignTimeBuild/.dtbcache.v2
Program/GroupThreePaint/.vs/GroupThreePaint/v17/.futdcache.v2
Program/GroupThreePaint/.vs/GroupThreePaint/v17/.suo
Program/GroupThreePaint/.vs/ProjectEvaluation/groupthreepaint.metadata.v7.bin
Program/GroupThreePaint/.vs/ProjectEvaluation/groupthreepaint.projects.v7.bin
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.AssemblyInfo.cs
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.AssemblyInfoInputs.cache
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.assets.cache
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.GeneratedMSBuildEditorConfig.editorconfig
Program/GroupThreePaint/GroupThreePaint/obj/project.nuget.cache
Program/GroupThreePaint/GroupThreePaint/obj/project.nuget.cache
Program/GroupThreePaint/GroupThreePaint/obj/project.assets.json
Program/GroupThreePaint/GroupThreePaint/obj/GroupThreePaint.csproj.nuget.g.props
Program/GroupThreePaint/GroupThreePaint/obj/GroupThreePaint.csproj.nuget.dgspec.json
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.genruntimeconfig.cache
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.designer.runtimeconfig.json
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.csproj.FileListAbsolute.txt
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.csproj.CoreCompileInputs.cache
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.AssemblyInfoInputs.cache
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.AssemblyInfo.cs
Program/GroupThreePaint/.vs/GroupThreePaint/FileContentIndex/0394c597-a03c-46ea-870b-ecd08681d8a5.vsidx
Program/GroupThreePaint/.vs/GroupThreePaint/FileContentIndex/3ed8d21f-205d-433b-9396-160a732cd37c.vsidx
Program/GroupThreePaint/.vs/GroupThreePaint/FileContentIndex/d1ca7821-0381-4974-8788-6cbe053807d7.vsidx
Program/GroupThreePaint/.vs/GroupThreePaint/FileContentIndex/read.lock
Program/GroupThreePaint/.vs/GroupThreePaint/FileContentIndex/e8042360-bda1-4d35-881f-3fb8997fcd5e.vsidx
.vs/GroupThreePaint/v17/.wsuo
Program/GroupThreePaint/.vs/GroupThreePaint/FileContentIndex/04357fb0-ea8e-472b-bb9b-abf672f0cd30.vsidx
Program/GroupThreePaint/.vs/GroupThreePaint/FileContentIndex/6ba47d73-2fe5-479f-9703-e69bc5497d8e.vsidx
Program/GroupThreePaint/.vs/GroupThreePaint/v17/.suo
Program/GroupThreePaint/GroupThreePaint/bin/Debug/net6.0-windows/GroupThreePaint.dll
Program/GroupThreePaint/GroupThreePaint/bin/Debug/net6.0-windows/GroupThreePaint.exe
Program/GroupThreePaint/GroupThreePaint/bin/Debug/net6.0-windows/GroupThreePaint.pdb
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/apphost.exe
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.assets.cache
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.csproj.CoreCompileInputs.cache
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.csproj.FileListAbsolute.txt
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.csproj.GenerateResource.cache
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.designer.runtimeconfig.json
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.dll
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.Form1.resources
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.Form2.resources
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.genruntimeconfig.cache
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.pdb
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/ref/GroupThreePaint.dll
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/refint/GroupThreePaint.dll
Program/GroupThreePaint/GroupThreePaint/obj/GroupThreePaint.csproj.nuget.dgspec.json
Program/GroupThreePaint/GroupThreePaint/obj/GroupThreePaint.csproj.nuget.g.props
Program/GroupThreePaint/GroupThreePaint/obj/project.assets.json
Program/GroupThreePaint/GroupThreePaint/obj/project.nuget.cache
