
.vs/VSWorkspaceState.json
Program/GroupThreePaint/.vs/GroupThreePaint/DesignTimeBuild/.dtbcache.v2
Program/GroupThreePaint/.vs/GroupThreePaint/FileContentIndex/06201b04-379f-41ed-8447-f11a83503779.vsidx
Program/GroupThreePaint/.vs/GroupThreePaint/v17/.suo
Program/GroupThreePaint/.vs/ProjectEvaluation/groupthreepaint.metadata.v7.bin
Program/GroupThreePaint/.vs/ProjectEvaluation/groupthreepaint.projects.v7.bin
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.AssemblyInfo.cs
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.AssemblyInfoInputs.cache
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.assets.cache
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.GeneratedMSBuildEditorConfig.editorconfig
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/TempPE/Properties.Resources.Designer.cs.dll
Program/GroupThreePaint/.vs/GroupThreePaint/DesignTimeBuild/.dtbcache.v2
Program/GroupThreePaint/.vs/GroupThreePaint/v17/.futdcache.v2
Program/GroupThreePaint/.vs/GroupThreePaint/v17/.suo
Program/GroupThreePaint/.vs/ProjectEvaluation/groupthreepaint.metadata.v7.bin
Program/GroupThreePaint/.vs/ProjectEvaluation/groupthreepaint.projects.v7.bin
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.AssemblyInfo.cs
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.AssemblyInfoInputs.cache
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.assets.cache
Program/GroupThreePaint/GroupThreePaint/obj/Debug/net6.0-windows/GroupThreePaint.GeneratedMSBuildEditorConfig.editorconfig
